form {
width: 270px;
    height: 220px;
    text-align: center;
    padding: 15px;
    border: 3px solid MediumBlue;
    border-radius: 10px;
    color: MediumBlue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: LightGray;
}